.box {
  display: block;
  overflow: auto;
}

.box:hover {
  background-color: #ff4500;
}
.off {
  background-color: lightgray;
}

.on {
  background-color: #ff4500;
}
.footer {
  text-align: center;
  font-size: 16px;
}
